*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







header{
    background-color: bisque;
    position: relative;
    height: 150px;
    z-index: 1;
    

}
    
 

h1{
    
    left: 10px;
    top: 25px;
    transition: color 3s ease;
}
h1:hover{
    color: palevioletred;
}
nav li{
    display: inline;
     margin: 5px;

}
nav a{
    color: purple;
    text-decoration: none;
}
nav a:hover {
    color: hotpink;
    text-decoration: underline;
}


     


section{
    margin: 25px;
}

a{
    color: black;
}

.contenedor_limite{
    background-color: plum;
    max-width: 1000px;
    margin:  auto;
    padding: 20px;
   
}
 

.contenedor_caourusel{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

 
img{
    max-width: 100%;
}
.padre {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    
}
section{
    
    margin: 25px;
}
.card{
    background-color: peachpuff;
    width: 250px;
    border: 10px double palevioletred;
    padding: 10px;
    
    text-align: center;
    border-radius: 20px;
   
}
  footer{
    background-color:bisque;
  }

  
  .rubik-gemstones-regular {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal
  }
  
@media screen and (max-width:600px){
    header{
        background-color: bisque;
        position: relative;
        height: 160px;
    }
    h1{
        font-size: 25px;
    }
    nav{
        position: absolute;
        left: 10px;
        top: 60px;    
        
    
    }
    nav li{
        display: block;
    
    }
    
}
  
/*grillas*/
.parent {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 3; 
}

.div1 img { 
    width: 100%;
}

.div2 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.div2 img { 
   width: 100%;
}

.div3 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.div3 img { 
    width: 100%;
 }
